body{
    background-color: rgb(245, 230, 238);
    margin: auto;
    font-family: monospace;
    color: rgb(56, 3, 12);
}
h3{
    color: brown;
    font-size: 30px;
}
header{
    background-color: burlywood;
    margin: 0%;
}
nav{
    padding: 20px;
    font-size: 20px;
}
.a{
    text-decoration:none;
    color: chocolate;
    background-color: bisque;
    border-radius: 10px;
    padding: 10px;
}
.a:hover{
    background-color: burlywood;
}
a{
    text-decoration: none;
    color: khaki;
   margin-bottom: 20px;
   
}
a:hover{
    color: rgb(86, 78, 8);
}
.main{
    background-color: crimson;
    padding: 20px;
    margin:10px;
    border-radius: 10px;
}
h2{
    color:darksalmon;
}
li{
    color:khaki;
}